@import '@/styles/variables.scss';

.btn,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-btn;
  border: $border-width-btn $border-style-btn transparent;
  gap: $gap-btn;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: $main-color;
  background-color: $background-color-btn;
  transition: transform $transition-sec;
  cursor: pointer;
  &.primary {
    height: $height-btn-primary;
    padding: $padding-btn-primary;
  }
  &.secondary {
    height: $height-btn-secondary;
    padding: $padding-btn-secondary;
  }
  &.tertiary {
    height: $height-btn-tertiary;
    padding: $padding-btn-tertiary;
  }
  &.outlined {
    border-color: $fifth-color;
    background-color: transparent;
    color: $main-color;
  }
}

@media (hover: hover) {
  button:hover,
  .btn:hover {
    transform: $transform-btn-hover;
  }
}
