@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.dropdownnavitem');

.dropdownnavitem {
  color: $gray-color-500;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    &.open > .dropdownnavitem__title {
      color: $gray-color-700;
    }
    &.open > svg > path {
      stroke: $gray-color-700;
    }
  }
  &__title {
    transition: color $transition-sec ease;
  }
  &__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 32px;
    border-radius: $border-radius-dropdown;
    border-style: $border-style-dropdown;
    border-color: $border-color-options;
    box-shadow: 0 0 14px 1px $gray-color-200;
    background-color: $gray-color-50;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition:
      opacity $transition-sec ease,
      transform $transition-sec ease;
    &.open {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  &__item {
    padding: 15px 20px;
    color: $gray-color-500;
  }
}

@media (hover: hover) {
  .dropdownnavitem {
    &__wrapper {
      &:hover > .dropdownnavitem__title {
        color: $gray-color-700;
      }
      &:hover > svg > path {
        stroke: $gray-color-700;
      }
    }
    &__item:hover {
      background-color: $gray-color-100;
      color: $gray-color-700;
    }
  }
}
