@import '@/styles/variables.scss';

.pulseicon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 56px;
  height: 56px;
  background-color: $brand-color-100;
  border-radius: 50%;
  border-style: solid;
  border-color: $brand-color-50;
  border-width: 8px;
  & > svg > path {
    stroke: $brand-color-600;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(214, 187, 251, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(214, 187, 251, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(214, 187, 251, 0);
  }
}
