@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.team__header');

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 96px 0;
  gap: 64px;
  &__header {
    max-width: 576px;
    gap: 40px;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__images {
    display: flex;
  }
}
