@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.team__header');

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 96px 0;
  gap: 64px;
  background-color: #fff;
  &__header {
    max-width: 576px;
    gap: 40px;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    &_wrapper {
      max-width: 576px;
      min-width: 375px;
      width: 100%;
      overflow-x: hidden;
    }
  }
  &__img {
    display: grid;
    background-size: cover;
    object-fit: cover;
    &:nth-child(-n + 2) {
      grid-column: auto / span 3;
    }
    &:nth-child(n + 3) {
      grid-column: auto / span 2;
    }
    &:last-child {
      margin-left: -30px;
    }
    &:first-child {
      grid-row: 1;
      position: relative;
      & > img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
