$main-color: #FFFFFF;
$second-color: #858584;
$third-color: #2B2B2B;
$fourth-color: #3B3B3B;
$fifth-color: #A259FF;
$sixth-color: #377DF7;
$seventh-color: #FF6250;
$eighth-color: #2e6837d9;

//gradient:
$gradient-one: linear-gradient(to bottom right, $fifth-color, $sixth-color);
$gradient-two: linear-gradient(to bottom right, $fifth-color, $seventh-color);

//background:
$background-color: $third-color;
$background-color-secondary: $fourth-color;

$background-image-gradient-one: radial-gradient(
  ellipse at 30% 10%,
  $fifth-color,
  $sixth-color
);

$text-color: $main-color;
$caption-label-color: $second-color;

//fonts:
$font-family-monospace: 'Space Mono', monospace;
$font-family-work-sans: 'Work Sans', sans-serif;

$error-message-padding: 3vw 0;

// btn: 
$border-radius-btn: 20px;
$border-width-btn: 2px;
$border-style-btn: solid;
$background-color-btn: $fifth-color;
$gap-btn: 30px;
$height-btn-primary: 72px;
$height-btn-secondary: 60px;
$height-btn-tertiary: 46px;
$padding-btn-primary: 0px 50px;
$padding-btn-secondary: 0px 30px;
$padding-btn-tertiary: 0px 30px;

// btn:hover
$transform-btn-hover: scale(0.95);

// transition
$transition-sec: 0.5s;
$transitionAll: all $transition-sec ease;
