@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.cta');

.cta {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  left: 0;
  padding: 96px 0;
  gap: 96px;
  width: 100%;
  min-height: 512px;
  overflow: hidden;
  background-color: #fff;
  &__leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    gap: 40px;
    left: 32px;
    transition: left 1s ease;
  }
  &__heading {
    font-size: 40px;
    font-weight: bold;
    color: $brand-color-900;
    text-align: left;
  }
  &__supporttext {
    font-size: 20px;
    color: $brand-color-700;
  }
  &__rightside {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-left: 60px;
  }
  &__btnwrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 1200px) {
  .cta {
    min-height: 1000px;
    flex-direction: column;
    &__rightside {
      position: static;
    }
  }
}

@media (max-width: 1000px) {
  .cta {
    min-height: 1000px;
  }
}

@media (max-width: 600px) {
  .cta {
    min-height: 800px;
    &__rightside {
      & > div > img {
        top: 55%;
      }
    }
  }
}

@media (max-width: 400px) {
  .cta {
    &__heading {
      font-size: 30px;
    }
  }
}
