@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.newsletter');

.newsletter {
  width: 100%;
  padding: 96px 0;
  gap: 40px;
  &__emailcapture {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    &_inputfield {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &_hint {
      color: $gray-color-500;
    }
    &_cta {
      width: 100%;
      overflow: hidden;
      max-width: 1280px;
      max-height: 420px;
      height: 100%;
      position: relative;
    }
  }
}

@media (max-width: 1279px) {
  .newsletter {
    &__emailcapture {
      &_cta {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .newsletter {
    &__emailcapture {
      flex-direction: column;
    }
  }
}
