@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.socialproof');

.socialproof {
  width: 100%;
  gap: 32px;
  padding-bottom: 96px;
  & > div {
    width: 100%;
  }
  &__text {
    display: flex;
    justify-content: center;
    color: $gray-color-500;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease;
    &.hovered {
      animation: changeText 1s ease;
    }
  }
  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__companylogo {
    display: flex;
    align-items: center;
    gap: 10px;
    &.visible {
      animation: 1.5s ease-out 0s 1 slideInFromLeft;
    }
    &_img {
      background-size: cover;
    }
    &_name {
      display: inline-block;
      color: $gray-color-900;
      font-weight: 900;
      font-family: $font-family-monospace;
      font-style: italic;
      animation: colorChange 2s infinite alternate-reverse;
    }
  }
}

@keyframes colorChange {
  0% {
    opacity: 0.7;
    color: $gray-color-500;
  }
  50% {
    opacity: 0.9;
    color: $gray-color-700;
  }
  100% {
    opacity: 1;
    color: $gray-color-900;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes changeText {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
