@import '@/styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  gap: 40px;
  background-color: $brand-color-800;
  position: relative;
  min-height: 340px;
  &__background {
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $brand-color-800;
    z-index: -1;
  }
  &__container {
    display: flex;
  }
}

@media (max-width: 875px) {
  .footer {
    padding: 30px;
    min-height: auto;
    &__container {
      &.actions {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 430px) {
  .footer {
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .footer {
    &::before {
      margin-top: -10px;
    }
  }
}
