@import '@/styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  gap: 40px;
  background-color: $brand-color-800;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    margin-top: -30px;
    background-color: $brand-color-800;
    z-index: -1;
  }
}
