@import '@/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    color: $brand-color-300;
    font-family: $font-family-monospace, Helvetica, Arial;
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
    & > a:hover > svg > path {
      transition: fill $transition-sec ease;
    }
  }
}

@media (hover: hover) {
  .container {
    &__icons {
      & > a > svg:hover > path {
        fill: #fff;
      }
    }
  }
}
