@import '@/styles/variables.scss';

.avatargroup {
  display: flex;
  align-items: center;
  min-width: 250px;
  &__item {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 0;
    margin-right: -16px;
    position: relative;
    transition: margin 0.5s;
    &.hovered {
      margin-right: 16px;
    }
  }
  &__tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    gap: 12px;
    padding: 0 5px;
    &_message {
      color: #fff;
      font-weight: 900;
      font-size: 20px;
    }
    &_company {
      display: flex;
      align-items: center;
      gap: 10px;
      & > img {
        width: 20px;
        object-fit: cover;
        filter: invert(100%) grayscale(100%);
      }
      & > span {
        font-size: 14px;
      }
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    & > img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes moveRight {
  from {
    margin-right: -16px;
  }
  to {
    margin-right: 16px;
  }
}
