@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.dropdownnavitem');

.dropdownnavitem {
  font-family: $font-family-work-sans;
  color: $gray-color-500;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    z-index: 5;
    &.open > .dropdownnavitem__title {
      color: $gray-color-700;
    }
    &.open > svg > path {
      stroke: $gray-color-700;
    }
  }
  &__title {
    transition: color $transition-sec ease;
  }
  &__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 320px;
    margin-top: 25px;
    background-color: transparent;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition:
      opacity $transition-sec ease,
      transform $transition-sec ease;
    z-index: 3;
    &_wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      border-radius: $border-radius-dropdown;
      border-style: $border-style-dropdown;
      border-color: $border-color-options;
      box-shadow: $box-shadow-dropdownnavitem;
      background-color: $gray-color-50;
      z-index: 5;
    }
    &.open {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: $gray-color-500;
    gap: 16px;
  }
  &__leftside {
    display: flex;
    gap: 16px;
    &_icon {
      & > svg {
        max-width: 25px;
      }
    }
    &_item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      & > * {
        display: flex;
        text-align: left;
      }
      & > h2 {
        color: $gray-color-900;
      }
    }
  }
  &__rightside {
    opacity: 0;
    transition: opacity 1s ease;
    &.hover {
      opacity: 1;
    }
  }
}

@media (hover: hover) {
  .dropdownnavitem {
    &__wrapper {
      &:hover > .dropdownnavitem__title {
        color: $gray-color-700;
      }
      &:hover > svg > path {
        stroke: $gray-color-700;
      }
    }
    &__item:hover {
      background-color: $gray-color-100;
      color: $gray-color-700;
    }
  }
}
