@import '@/styles/variables.scss';
@import '@/styles/mixin/flex-direction-column.scss';

@include flex-direction-column('.faq');
@include flex-direction-column('.faq__header');

.faq {
  width: 100%;
  &__header {
    padding: 96px 0;
    gap: 32px;
    width: 100%;
    background-color: #fff;
  }
}
